<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='js/vue.js'></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model='firstinput'>+
        <input type="text" v-model='secondinput'>=
        <input type="text" v-model='fullinput'>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                firstinput: "",
                secondinput: ""

            },
            methods: {},
            computed: {
                'fullinput': function() {
                    return this.firstinput + "--" + this.secondinput
                }
            }
        })
    </script>
</body>

</html>